* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: url(account_pictures/backgrounddark.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.header {
    color: #fff;
    width: 65%;
    padding-left: 40px;
    margin-top: 40px;
}

h1 {
    font-size: 22px;
}

.header h1 {
    margin-top: 5px;
}

.header a {
    text-decoration: none;
    animation: shine 3s linear infinite;
    background-color: #00000088;
    border-radius: 5px;
}

.container {
    display: flex;
    width: 65%;
    height: 600px;
}

@keyframes shine {
    0% {
        color: #e8ae00;
    }
    50% {
        color: #f3eacf;
    }
    100% {
        color: #e8ae00;
    }
}

#course-name {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.block {
    width: 350px;
    margin: 20px;
    background-color: #202020;
    padding: 20px;
    border-radius: 20px;
    font-size: 19px;
    overflow: hidden;
}

#lessons {
    width: 70%;
}

#preview-picture {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-image: url(course_pictures/no-image.png);
}

#date, #amount {
    display: flex;
}

.colored {
    color: #858585;
}

#amount {
    margin-top: -20px;
}

.left {
    margin-left: 5px;
}

.lesson-style {
    width: 90%;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}

.lesson-preview {
    height: 0px;
    overflow: hidden;
}

.lesson-preview a {
    text-decoration: none;
    animation: shine 3s linear infinite;
}

.lesson {
    height: 30px;
}

#open-close {
    width: 200px;
    cursor: pointer;
    height: 30px;
    margin-left: 10px;
    background-color: #e8ae00;
    border: none;
    font-size: 17px;
    border-radius: 10px;
}

#open-close:hover {
    transition: 0.3s;
    background-color: #ffd043;
}

#lesson-name {
    font-size: 22px;
}

#lessons {
    overflow: auto;
}