*{
    font-family: "Roboto";
    color: white;
}
body{
    background: #181818;
    width: 99vw;
    height: 413vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.post{
    width: 300px;
    height: 470px;
    border-radius: 10px;
    margin: 50px;
    padding: 20px;
    font-family: "Arial Black";
    position: relative;
}
.top{
    width: 320px;
    height: 67%;
    border-radius: 10px 10px 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.down{
    width: 300px;
    height: 33%;
    background-color: #333333;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    transition: 500ms;
    border-radius: 0 0 10px 10px;

}

.products{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chil{
    position: relative;
    display: flex;
    width: 100%;
    background: #202020;
}
#t1{
    background-image: url(images/t1.jpg);
}
#t2{
    background-image: url(images/t2.jpg);
}
#t3{
    background-image: url(/images/t3.png);
}
#t4{
    background-image: url(images/t4.jpg);
}
#t5{
    background-image: url(images/t5.jpg);
}
#t6{
    background-image: url(images/t6.jpg);
}
#t7{
    background-image: url(images/t7.jpg);
}
#t8{
    background-image: url(images/t9.jpg);
}
#t9{
    background-image: url(images/t8.jpg);
}
#t10{
    background-image: url(images/t10.jpeg);
}
#t11{
    background-image: url(images/t11.jpg);
}
#t12{
    background-image: url(images/t12.jpg);
}
#t13{
    background-image: url(images/t13.jpg);
}
#t14{
    background-image: url(images/t14.jpg);
}
#t15{
    background-image: url(images/t15.jpg);
}
#t16{
    background-image: url(images/t16.jpg);
}
#t17{
    background-image: url(images/t17.jpg);
}
#t18{
    background-image: url(images/t18.jpg);
}
#t19{
    background-image: url(images/t19.jpg);
}
#t20{
    background-image: url(images/t20.jpg);
}
#t21{
    background-image: url(images/t21.jpg);
}
#t22{
    background-image: url(images/t22.jpg);
}
#t23{
    background-image: url(images/t23.jpg);
}
#t24{
    background-image: url(images/t24.jpg);
}
#t25{
    background-image: url(images/t25.jpg);
}
#t26{
    background-image: url(images/t26.jpg);
}
#t27{
    background-image: url(images/t27.jpg);
}
#t28{
    background-image: url(images/t28.jpg);
}

.back{
    width: 60px;
    height: 60px;
    background-color:rgb(255, 184, 52);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    text-decoration: none;
    font-size: 24px;
    color: rgb(255, 255, 255);
    margin: 20px;
    font-family: "Roboto";
    position: absolute;
    z-index: 12;
    left: 12px;
    top: 12px;
    transition: .2s linear;
    font-weight: bolder;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #00c6fb, #005bea);
  }
#c1{
    border-radius: 10px 10px 0 0;
    padding-top: 15px;
    margin-top: 30px;
}
#c4{
    border-radius: 0px 0px 10px 10px;
}
h1{
    color: rgb(255, 255, 255);
    text-shadow: rgb(34, 139, 195) 1px 0 10px;
    font-size: 34px;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.coin{
    width: 30px;
    min-height: 30px;
    background-image: url(images/coin.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 39px;
    left: 80px;
}
p{
    font-size: 17px;
    position: absolute;
    bottom: 27px;
    left: 50px;
}
.btn-new {
    width: 180px;
    min-height: 50px;
    border-radius: 10px;
    color: white;
    transition: .2s linear;
    background: rgb(255, 184, 52);
    border: none;
    position: absolute;
    left: 150px;
    bottom: 30px;
    z-index: 12;
    cursor: pointer;
    font-size: 17px;
}

.btn-new:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px rgb(255, 184, 52);
}
.back:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px rgb(255, 184, 52);
}
h3{
    width: 95%;
    font-size: 18px;
}#c{
    left: 70px;
}
#co1{
    left: 60px;
}
@media screen and (max-width: 1200px) {
    body{
        width: 100vw;
        height: 930vh;
    }
    
    .post{
        margin-top: 20px;
        margin-left:5px ;
    }
}
@media screen and (max-width: 576px) {
    .chil{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    body{
        width: 97vw;
        height: 2530vh;
    }
    .back{
        height: 40px;
        width: 40px;
        font-size: 19px;
        top: 10px;
        left: 10px;
    }
    .post{
        margin-top: 20px;
        left: 10px;
    }
    
}
@media screen and (max-width: 360px) {
    .chil{
        
        width: 300px;
        height: 1400px;
    }
    body{
        width: 97vw;
        height: 2024vh;
    }
    .top{
        width: 270px;
    }
    .down{
        width: 250px;
        height: 40%;
    }
    .post{
        width: 250px;
        height: 350px;
        margin-right: 70px;
        left: 22px;
    }
    .btn-new{
        left: 130px;
        bottom: 7px;
        width: 150px;
        height: 30px;
    }
    p{
        
        bottom: 7px;
        width: 290px;
    }
    .coin{
        
        bottom: 18px;
    }
    h3{
        font-size: 15px;
    }
    #c4{
        height: 400px;
    }
    h1{
        width: 250px;
        font-size: 26px;
    }
    .back{
        width: 30px;
        height: 30px;
        font-size: 12px;
        top: -6px;
        left: -6px;
    }
    ::-webkit-scrollbar {
        width: 0px;
      }
}