* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-135deg, #fff, #bbbbbb);
}

.container {
    display: flex;
    position: relative;
    width: 900px;
    height: 500px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 5px #ffffff6a;
}

#picture1 {
    width: 50%;
    border-radius: 25px;
    background-image: url(pictures/22.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

form p {
    font-weight: bold;
    font-size: 30px;
}

input {
    width: 300px;
    height: 35px;
    margin: 10px;
    background-color: #d9d9d9;
    border-radius: 10px;
    border: none;
    color: #000;
    font-size: 15px;
}

button[type="submit"] {
    margin-top: 200px;
    width: 200px;
    height: 35px;
    background-color: #fdbe00;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

button[type="submit"]:hover {
    background-color: #cc9900;
    transition: 0.3s;
}

a {
    margin-top: 10px;
    color: #0071c7;
    text-decoration: underline;
    
}

a:hover {
    color: #003f6f;
    transition: 0.3s;
}