*{
    font-family: "Roboto";
    color: white;
}
body{
    background-image: url(backgrounddark.png);
    width: 99vw;
    height: 413vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.post{
    width: 300px;
    height: 470px;
    border-radius: 10px;
    margin: 50px;
    padding: 20px;
    font-family: "Arial Black";
    position: relative;
}
.top{
    width: 320px;
    height: 67%;
    border-radius: 10px 10px 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.down{
    width: 100%;
    height: 33%;
    background-color: #1a1a1a;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    transition: 500ms;
    border-radius: 0 0 10px 10px;

}

.products{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chil{
    position: relative;
    display: flex;
    width: 100%;
    background: #202020;
}
#t1{
    background-image: url(t1.jpg);
}
#t2{
    background-image: url(t2.jpg);
}
#t3{
    background-image: url(t3.png);
}
#t4{
    background-image: url(t4.jpg);
}
#t5{
    background-image: url(t5.jpg);
}
#t6{
    background-image: url(t6.jpg);
}
#t7{
    background-image: url(t7.jpg);
}
#t8{
    background-image: url(t9.jpg);
}
#t9{
    background-image: url(t8.jpg);
}
#t10{
    background-image: url(t10.jpeg);
}
#t11{
    background-image: url(t11.jpg);
}
#t12{
    background-image: url(t12.jpg);
}
#t13{
    background-image: url(t13.jpg);
}
#t14{
    background-image: url(t14.jpg);
}
#t15{
    background-image: url(t15.jpg);
}
#t16{
    background-image: url(t16.jpg);
}
#t17{
    background-image: url(t17.jpg);
}
#t18{
    background-image: url(t18.jpg);
}
#t19{
    background-image: url(t19.jpg);
}
#t20{
    background-image: url(t20.jpg);
}
#t21{
    background-image: url(t21.jpg);
}
#t22{
    background-image: url(t22.jpg);
}
#t23{
    background-image: url(t23.jpg);
}
#t24{
    background-image: url(t24.jpg);
}
#t25{
    background-image: url(t25.jpg);
}
#t26{
    background-image: url(t26.jpg);
}
#t27{
    background-image: url(t27.jpg);
}
#t28{
    background-image: url(t28.jpg);
}

.back{
    width: 60px;
    height: 60px;
    background-color:rgb(255, 184, 52);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    text-decoration: none;
    font-size: 24px;
    color: rgb(255, 255, 255);
    margin: 20px;
    font-family: "Roboto";
    position: absolute;
    z-index: 12;
    left: 12px;
    top: 12px;
    transition: .2s linear;
    font-weight: bolder;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #00c6fb, #005bea);
  }
#c1{
    border-radius: 10px 10px 0 0;
    padding-top: 15px;
    margin-top: 30px;
}
#c4{
    border-radius: 0px 0px 10px 10px;
}
h1{
    color: rgb(48, 159, 218);
    text-shadow: rgb(34, 139, 195) 1px 0 10px;
    font-size: 34px;
    width: 800px;
    height: 60px;
    border-radius: 10px;
    background-color: #202020;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.coin{
    width: 30px;
    min-height: 30px;
    background-image: url(coin.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 39px;
    left: 80px;
}
p{
    font-size: 17px;
    position: absolute;
    bottom: 27px;
    left: 50px;
}
.btn-new {
    width: 180px;
    min-height: 50px;
    border-radius: 10px;
    color: white;
    transition: .2s linear;
    background: rgb(255, 184, 52);
    border: none;
    position: absolute;
    left: 150px;
    bottom: 30px;
    z-index: 12;
    cursor: pointer;
    font-size: 17px;
}

.btn-new:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px rgb(255, 184, 52);
}
.back:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px rgb(255, 184, 52);
}
h3{
    width: 95%;
    font-size: 18px;
}#c{
    left: 70px;
}
#co1{
    left: 60px;
}