* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

#sliding-section {
    border-radius: 25px 0 0 25px;
    position: fixed;
    top: 0;
    right: -500px;
    width: 500px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    transition: right 0.5s ease;
    z-index: 10;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(30px);
    box-shadow: -10px 0 20px rgba(255, 255, 255, 0.1);
}

#sliding-section.visible {
    right: 0; 
}

.cards {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 450px;
    margin-bottom: 20px;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.2), 0 0 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
}

.cards h2 {
    margin-bottom: 10px;
}

.cards p {
    margin-bottom: 20px;
}

.cta-button {
    margin: 10px;
    background-color: #6c5ce7;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.7s ease;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.cta-button:hover {
    background-color: #6c5ce7;
    transform: scale(1.05);
    box-shadow: 0 0 30px #6c5ce7;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    object-fit: contain;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 760px){
    #sliding-section {
        width: 100%;
        right: -1000px;
    }
    .cards {
        width: 100vw;
    }
}