/* Для экранов шириной до 1200px включительно */
@media screen and (max-width: 1200px) {
    .header {
        width: 80%; /* Увеличим ширину заголовка */
    }
    .container {
        width: 85%; /* Увеличим ширину контейнера */
    }
    .block {
        width: 45%; /* Уменьшим ширину блока */
    }
    .quest {
        width: 250px; /* Увеличим размер квеста */
        height: 250px;
    }
}

/* Для экранов шириной до 998px включительно */
@media screen and (max-width: 998px) {
    .header {
        width: 75%; /* Немного уменьшим ширину заголовка */
    }
    .container {
        width: 70%; /* Уменьшим ширину контейнера */
    }
    .block {
        width: 48%; /* Слегка увеличим ширину блока */
    }
    .quest {
        width: 220px; /* Немного уменьшим размер квеста */
        height: 220px;
    }
}

/* Для экранов шириной до 768px включительно */
@media screen and (max-width: 768px) {
    .header {
        width: 95%; /* Увеличим ширину заголовка */
        padding-left: 30px; /* Уменьшим отступ слева */
    }
    .container {
        width: 90%; /* Максимально расширим контейнер */
        height: 500px; /* Уменьшим высоту контейнера */
    }
    .block {
        width: 40%; /* Немного увеличим ширину блока */
    }
    #minigames {
        width: 80%;
        margin: 0;
        margin-bottom: 50px;
        margin-left: -25px;
    }
    #minigame {
        margin: 0;
        margin-left: -10px;
    }
    .quest {
        width: 180px; /* Уменьшим размер квеста */
        height: 180px;
    }
}

/* Для экранов шириной до 576px включительно */
@media screen and (max-width: 576px) {
    .header {
        width: 100%; /* Полностью растянем заголовок */
        padding-left: 20px; /* Еще меньше отступ слева */
        margin-top: 10px;
    }
    .container {
        width: 100%; /* Контейнер займет всю доступную ширину */
        height: 1000px; /* Еще сильнее уменьшим высоту контейнера */
        flex-direction: column; /* Перестроим блоки вертикально */
    }
    .block {
        width: 90%; /* Блоки займут всю ширину */
        margin-bottom: 20px; /* Добавим расстояние между блоками */
    }
    #minigames {
        width: 90%;
        margin: 0;
        margin-top: -100px;
        margin-bottom: 50px;
        display: none;
    }
    #minigame {
        margin: 0;
        margin-left: -10px;
    }
    .quest {
        width: 150px; /* Еще меньший размер квеста */
        height: 150px;
    }
}

/* Для экранов шириной до 360px включительно */
@media screen and (max-width: 360px) {
    .header {
        width: 100%; /* Заголовок займет всю ширину */
        padding-left: 10px; /* Минимизируем отступ слева */
    }
    .container {
        width: 70%; /* Контейнер займет всю ширину */
        height: 800px; /* Еще сильнее уменьшим высоту контейнера */
        flex-direction: column; /* Блоки останутся вертикальными */
        font-size: 12px;
        margin-left: -40px;
    }
    .block {
        width: 100%; /* Блоки займут всю ширину */
        margin-bottom: 10px; /* Расстояние между блоками минимизировано */
        overflow: auto;
    }
    #minigames {
        width: 70%;
        margin: 0;
        display: none;
    }

    #minigame {
        margin: 0;
        margin-left: -10px;
    }
    .quest {
        width: 120px; /* Самый маленький размер квеста */
        height: 120px;
    }
}